.xs-pickers{
    display:grid;
    grid-template-columns: 50% 50% ;
}

.pickers{
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
}


.picker{
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 38px;
}

