.customZone{
    display:grid;
    grid-template-columns: 50% 50%;
    padding: 0%;
}

.customElement{
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 35px;
}

