.triples{
    background: #EBF4FF;
    color: black;
    text-align: left;
    border-radius: 0px 0px 10px 10px ;
    display: grid;
    grid-template-columns: 100%;
        
}

.shape{
    border: 1px solid #acaaaa;
    border-radius: 10px;
}

.xs-triples{
  padding: 1px;
}