.customShape{

    color: black;
    border-radius: 0px 0px 10px 10px;
    display: grid;
    grid-template-columns: 100%;

}



.customTriple{
    padding: 5px;
    color: black;
    display: grid;
    grid-template-columns: 100%;

}



.xs-customConstraint{
    display: grid;
    grid-template-columns: 26% 74%;
    align-items: center;
    margin-bottom: 1px;
}

.customConstraint{
    display: grid;
    grid-template-columns: 29% 71%;
}


.xs-gridBox{
    display: grid;
    align-items: center;
    grid-template-columns: 4% 25% 69%;
    padding: 5px;
}


.xs-gridBox-special{
    display: grid;
    align-items: center;
    padding: 15px;
    justify-content: center;
   
}

.gridBox{ 
    display: grid;
    align-items: center;
    grid-template-columns: 10% 20% 48%;
}


.customLabel{
    grid-column: 2/3;
}

.customSelector{
    border-radius: 5px;
    background: white;
    outline: none;
    color:#222;
    border: 1px solid #acaaaa !important;
    height: 100%;
}

.shapeRefSelector{
    border-radius: 5px;
    background: white;
    outline: none;
    color:#222;
    border: 1px solid #acaaaa !important;
    height: 40px;
    width: 100%;
}


.valueSetsCont{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 10px;
}

.valueSets{
    display: grid;
    grid-template-columns: 31% 57% auto;
    padding-top: 4px;
    gap: 1px;
}

.deleteValueSetBtn{
    border-radius: 10px;
    outline: none;
    border: none;
    padding:2px;
}

.imputSetCollapse{
    display: grid;
    grid-template-columns: 100%;
   
}

.qnameSetCollapse{
    display: grid;
    grid-template-columns: 50% 50%;
}

.boolSelect{
    height: 40px !important;
}