

    .assistantContainer{
        display: grid;
        grid-template-columns: 100%;
        align-content: center;
        grid-gap: 10px;
        padding: 2%;
    }


    .assistCollapse{
        border-bottom: 1px solid grey;
        border-top:1px solid grey;
        max-width: 1400px;
        min-width: 500px;
    }


    .resizable{
        height: 100% !important;
        /*border-right:4px double #95b2d6;*/
        border-right:4px double#b5bec9;
        border-collapse: separate ;
        
    }

    
    .edit{

        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        border-radius: 0px 10px 10px 0px!important;
        min-width: 300px;
    }


    .react-resizable {
        position: relative;
    }
    .react-resizable-handle {
        position: absolute;
        
        width: 1em;
        height: 100% !important;

        background: #ddeafa;
        background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAIklEQVR4AWMwbb/PdR+JZDD9f1/oPhI5sgVGBSruc9xHIgGdSQqqQJGkRgAAAABJRU5ErkJggg== );
        background-position: center center;
        background-repeat: no-repeat;
        
        

    
    }


    .lateralNav {
        border: 1px solid grey;
        border-radius:  20px 0px 0px 20px;
    }


    .shape{
    
        color: #f8f8ff;
        text-align: center;
        display: grid;
        margin-top: 10px;

    }


    .shapeName{
        height: 100%;
    }



    .header{
        background: #C6E2FF ;
        padding: 10px;
        color: black;
        text-align: left;
        border: 1px solid grey;
        border-radius: 10px 10px 0px 0px;
        display: grid;
        grid-template-columns: 11% 65% 6% 6% 9%;
        grid-gap: 10px;

    }

    .xs-header{
        padding: 8px;
        grid-template-columns: 17% 50% 8% 8% 1%;
        grid-gap: 10px;
    }


    .sm-header{
        padding: 8px;
        grid-template-columns: 14% 55% 8% 8% 8%;
        grid-gap: 10px;
    }

    .ms-header{
        padding: 10px;
        grid-template-columns: 13% 61% 7% 7% 1%;
        grid-gap: 8px;
    }



    .constraintHeader{
        background: #d6ffc654 ;
        padding: 10px;
        color: black;
        text-align: left;

        border: 1px solid grey;
        border-radius: 10px 10px 0px 0px;
        display: grid;
        grid-template-columns: 20% 22.5% 22.5% 7%;
        grid-gap: 10px;
    }


    .xs-constraintHeader{
        grid-template-columns: 29% 19.5% 30% 10%;
    }


    .sm-constraintHeader{
        grid-template-columns: 30% 17.5% 17.5% 10%;
    }

    .ms-constraintHeader{
      
        grid-template-columns: 22% 19% 25% 8%;
    }



    .triples{
        background: #EBF4FF;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right:40px;
        padding-left:40px;
        color: black;
        text-align: left;

        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        border-radius: 0px 0px 10px 10px ;
        display: grid;
        grid-template-columns: 100%;
            
    }

    .xs-triples{
      
       padding-right:20px;
       padding-left:20px;
    }

    .sm-triples{
  
        padding-right:20px;
         padding-left:20px;
     }

     .ms-triples{
    
        padding-right:30px;
         padding-left:30px;
     }


    .constraints{
        background: #EFE8E1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right:40px;
        padding-left:40px;
        color: black;
        text-align: left;

        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        border-radius: 0px 0px 10px 10px ;
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 10px;
    }

    .addConstraintButton{
        margin-top: 10px;
        background: #ffe1e1;
        border-radius: 10px;
    }

    /*
fcffe1  amarillu

fce1ff46
    */

    .addBtns{
        display: grid;
        grid-template-columns: auto 40% auto;

    }

    .addShapeButton{
        background: #ddeafa;
        border-radius: 10px;
        margin-top:50px;
        grid-column: 2/3;
        font-weight: bold;
    }


    .addShapeButton:focus{
        outline: none;
    }

    .addTripleButton:focus{
        outline: none;
    }

    .addTripleButton{
        margin-top: 10px;
        background: #EFDECD;
        border-radius: 10px;
        font-weight: bold;
        grid-column: 2/3;
    }


    .tripleHeader{
        background: #EFDECD ;
        padding:10px;
        color: black;
        text-align: left;

        border: 1px solid grey;
        border-radius: 10px 10px 0px 0px;
        display: grid;
        grid-template-columns: 11% 20% 20% 20% 6% 6% 6%;
        grid-gap: 10px;
    
    }


    .xs-tripleHeader{
        grid-gap: 8px;
        grid-template-columns: 20% 46% 8% 8% 1%;
    }


    .sm-tripleHeader{
        grid-template-columns: 17% 48% 8% 8% 12%;
    }

    .ms-tripleHeader{
        grid-template-columns: 15% 50% 7% 7% 15%;
    }


    .customColapse{
        margin-bottom: 10px;

    }

    .box1{ grid-area: box1;}
    .box2{ grid-area: box2;}
    .box3{ grid-area: box3;}
    .box4{ grid-area: box4;}


    .customLabel{
        grid-column: 2/3;
    }

    .gridBox{ 
        display: grid;
        grid-template-columns: 7% 10% 54%;
        grid-gap: 35px;
    }

    .constraintGridBox{ 
        display: grid;
        grid-template-columns: 7% 10% 54%;
        grid-gap: 44px;
    }

    .xs-gridBox{
        grid-gap: 40px;
        grid-template-columns: 1% 10% 54%;
    }

    .sm-gridBox{
        grid-template-columns: 3% 10% 54%;
    }


    .xs-tripleGridBox{
        grid-template-columns: 0% 10% 54%;
    }

    .sm-tripleGridBox{
      
        grid-template-columns: 1% 10% 54%;
    }

    .ms-tripleGridBox{
        grid-template-columns: 3% 10% 54%;
    }


    .xs-constraintGridBox{
        grid-template-columns: 0% 20% 37%;
     
    }

    .sm-constraintGridBox{
        grid-template-columns: 1% 20% 37%;
    }

    .ms-constraintGridBox{
        grid-template-columns: 1% 20% 54%;
    }

    .customTriple{
        background: #EFE8E1;
        padding: 10px;
        color: black;

        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        border-radius: 0px 0px 10px 10px;

        display: grid;
        grid-template-columns: 100%;
        grid-gap: 5px;
    }

    .customConstraint{
        background:#e4fadb54;
        padding: 10px;
        color: black;

        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        border-radius: 0px 0px 10px 10px;

        display: grid;
        grid-template-columns: 100%;
        grid-gap: 5px;
    }

    .custom{
        background: #EBF4FF;
        padding: 10px;
        color: black;

        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        border-radius: 0px 0px 10px 10px;

        display: grid;
        grid-template-areas: 
            'box1 box1 box1'
            'box2 box2 box2'
            'box3 box3 box3'
            'box4 box4 box4' ;
        text-align: left;
        grid-gap: 5px;
    }



    .customSelector{
        border-radius: 5px;
        background: white;
        outline: none;
    }



    .customShape{
        background: green;
        padding: 10px;
        color: white;
    }


/*
3d3d3d negro boton build
*/




    .deleteShapeBtn{
        background: #79aff5;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;

    }

    .deleteShapeBtn:focus{
        outline: none;
    }


    .deleteShapeBtn:hover{
        transform: scale(1.1);
    }

    .collapseBtn{
        background: transparent;
        color:#222;
        border-radius: 10px;
        border: none;
        height: 100%;
        font-size: 25px;
    }

    .collapseBtn:focus{
        outline: none;
    }


    *, *::after, *::before {
        -webkit-user-select: none;
        -webkit-user-drag: none;
        -webkit-app-region: no-drag;
        cursor: default;
    }


    .deleteTripleBtn{
        background: #f8a252;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
        padding:2px;
       

    }

    .deleteTripleBtn:focus{
        outline: none;
    }


    .deleteTripleBtn:hover{
        transform: scale(1.1);
    }


    .buildBtn{
        background: #3d3d3d;
        color:rgb(121, 175, 245);
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 25px;
    }


    .buildBtn:focus{
        outline: none;
    }


    .buildBtn:hover{
        transform: scale(1.1);
    }

    .buildBtn:active {
        transform: translateY(4px);
    }

    .buildTriple{
        background: #3d3d3d !important;
        color:#f8a252 !important;
    }

    .buildConstraint{
        background: #3d3d3d !important;
        color:rgb(177, 224, 134) !important;
    }
   
    .xs-tripleBtns{
        font-size: 18px;
        padding: 2px;
    }

/*

    @media (max-width: 2040px) {
        .assistantContainer{
            display: grid;
            grid-template-columns: 100%;
            align-content: center;
            grid-gap: 10px;
            padding: 2%;
            background-color: red;
        }
      }

      */
    

     
