


    .containerAssist{
        height: 100% !important;
        width: 100% !important;
        display: grid;
        grid-template-columns: 100%;
        padding: 0px;
        background-color: white;
       
    }
    
    .assistantContainer{
        display: grid;
        height: 100% !important;
        width: 100% !important;
        gap: 10px;
    }

    .paddingDiv{
        padding: 2%;
        height: 100% !important;
        width: 100% !important;
    }

    .hideAsist{
        display: none;
    }


    .hideLoader{
        display: none;
    }

  .showLoader{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db; /* Light Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


    
    .assisTitle{
        display: grid;
        grid-template-columns: 97% 10%;
        padding: 5px;
        border-bottom: 1px solid #bdbcbc;
        font-size: 20px;
        color:#5a5858;
      
    }

    
   
    .closeAsis{
        background-color: transparent;
        border:none;
        grid-column: 2/3;
    }

    .closeAsis:focus{
        outline: none;
    }


    .assistCollapse{
        border-bottom: 1px solid #acaaaa;
        border-top:1px solid #acaaaa;
        max-width: 1200px;
        min-width: 500px;
        margin-left: 0px;
    }


    .resizable{
        height: 100% !important;
        /*border-right:4px double #95b2d6;*/
        max-width: 1100px;
        border-right:4px double #bdbcbc;
        margin-right: 14px;
        margin-left: 0px;
        z-index: 100;
        padding: 0px;
    }


    
    .edit{

        border-top: 1px solid #acaaaa;
        border-bottom: 1px solid #acaaaa;
        border-right: 1px solid #acaaaa;
        border-radius: 0px 10px 10px 0px!important;
        min-width: 300px;
    }


    .react-resizable {
        position: relative;
    }
    .react-resizable-handle {
        position: absolute;
        
        width: 1em;
        height: 100% !important;

        background: #ddeafa;
        background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAIklEQVR4AWMwbb/PdR+JZDD9f1/oPhI5sgVGBSruc9xHIgGdSQqqQJGkRgAAAABJRU5ErkJggg== );
        background-position: center center;
        background-repeat: no-repeat;
        
        

    
    }




    .shape{
        color: #f8f8ff;
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        margin-top: 10px;
  
    }


    .xs-label{
        margin-left: 0px;
    }


    .shapeName{
        border-radius: 4px;
        color:#222;
        padding-left: 5px;
        border: 1px solid #acaaaa !important;
    }



    .header{
        background: #C6E2FF ;
        padding: 10px;
        color: black;
        text-align: left;
        border: 1px solid #acaaaa;
        display: grid;
        grid-template-columns: 11% 64% 6% 6% 9%;
        gap: 10px;

    }

    .xs-header{
        padding: 8px;
        grid-template-columns: 10% 56% 8% 8% 9%;
        gap: 10px;

    }


    .sm-header{
        padding: 8px;
        grid-template-columns: 14% 55% 8% 8% 8%;
        gap: 10px;
    }

    .ms-header{
        padding: 10px;
        grid-template-columns: 13% 61% 7% 7% 1%;
        gap: 8px;
    }


    .triples{
        background: #EBF4FF;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right:10px;
        padding-left:10px;
        color: black;
        text-align: left;

        border-left: 1px solid #acaaaa;
        border-right: 1px solid #acaaaa;
        border-bottom: 1px solid #acaaaa;
        border-radius: 0px 0px 10px 10px ;
        display: grid;
        grid-template-columns: 100%;
            
    }

    .xs-triples{
      padding: 1px;
    }

    .sm-triples{
  
        padding-right:20px;
         padding-left:20px;
     }

     .ms-triples{
    
        padding-right:30px;
         padding-left:30px;
     }


    .constraints{
        background: #EFE8E1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right:40px;
        padding-left:40px;
        color: black;
        text-align: left;

        border-left: 1px solid #acaaaa;
        border-right: 1px solid #acaaaa;
        border-bottom: 1px solid #acaaaa;
        border-radius: 0px 0px 10px 10px ;
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 10px;
    }

    .addConstraintButton{
        margin-top: 10px;
        background: #ffe1e1;
        border-radius: 10px;
    }

    /*
fcffe1  amarillu

fce1ff46
    */

   

   

    .shake{
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }


    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }

    .addCont{
        display: grid;
        margin-left: 14px;
        margin-right: -15px;
    }

    .addShapeButton{
        background: #ddeafa;
        border-radius: 10px;
        margin-top:50px;
        font-weight: bold;
        margin-left:200px;
        margin-right: 200px;
    }

    .addShapeButton:focus{
        outline: none;
    }

    .addTripleButton{
        margin-top: 15px;
        background: #EFDECD;
        border-radius: 10px;
        font-weight: bold;
        padding: 1px;
        margin-bottom: 3px;
    }
    

    .addTripleButton:hover{
        margin-left:0px;
        margin-right: 0px;
    }


    .addTripleButton:focus{
        outline: none;
    }


    .addBtns{
        margin-left:200px;
        margin-right: 200px;
        -webkit-transition: margin 0.5s ease-in-out;
        transition: margin 0.5s ease-in-out;
    }

    .addBtns:hover{
        margin-left:0px;
        margin-right: 0px;
    }

    .xs-addBtns{
        margin-left:100px;
        margin-right: 100px;
        -webkit-transition: margin 0.5s ease-in-out;
        transition: margin 0.5s ease-in-out;
    }

    .xs-addBtns:hover{
        margin-left:0px;
        margin-right: 0px;
    }

    .tripleHeader{
        background: #EFDECD ;
        padding:10px;
        color: black;
        text-align: left;
        border: 1px solid #acaaaa;
        display: grid;
        grid-template-columns: 10% 24% 20% 19% 6% 6% 6%;
        gap: 10px;
    
    }
   

    .xs-tripleHeader{
        justify-content: center;
        gap: 8px;
        grid-template-columns: 9% 24% 17% 20% 6% 6% 6%;
    }


    .sm-tripleHeader{
        grid-template-columns: 17% 48% 8% 8% 12%;
    }

    .ms-tripleHeader{
        grid-template-columns: 15% 50% 7% 7% 15%;
    }


    .customColapse{
        margin-bottom: 10px;

    }

    .customLabel{
        grid-column: 2/3;
    }

    .box1{ grid-area: box1;}
    .box2{ grid-area: box2;}
    .box3{ grid-area: box3;}
    .box4{ grid-area: box4;}


    .gridBox{ 
        display: grid;
        grid-template-columns: 7% 10% 54%;
        gap: 35px;
    }

    .constraintGridBox{ 
        display: grid;
        grid-template-columns: 25% 54%;
        gap: 44px;
    }

    .xs-gridBox{
        gap: 40px;
        grid-template-columns: 15% 10% 54%;
    }

    .sm-gridBox{
        grid-template-columns: 3% 10% 54%;
    }


    .xs-tripleGridBox{
        grid-template-columns: 0% 10% 54%;
    }

    .sm-tripleGridBox{
      
        grid-template-columns: 1% 10% 54%;
    }

    .ms-tripleGridBox{
        grid-template-columns: 3% 10% 54%;
    }


    .xs-constraintGridBox{
        grid-template-columns: 0% 20% 37%;
     
    }

    .sm-constraintGridBox{
        grid-template-columns: 1% 20% 37%;
    }

    .ms-constraintGridBox{
        grid-template-columns: 1% 20% 54%;
    }

    .customTriple{
        background: #EFE8E1;
        padding: 10px;
        color: black;

        border-left: 1px solid #acaaaa;
        border-right: 1px solid #acaaaa;
        border-bottom: 1px solid #acaaaa;
        border-radius: 0px 0px 10px 10px;

        display: grid;
        grid-template-columns: 100%;
        gap: 5px;
    }

    /* e4fadb54  verde mas pocho aun */
    .customConstraint{
        background:#d6ffc654;
        padding: 10px;
        color: black;

        border: 1px solid #acaaaa;
        border-radius: 10px;

        display: grid;
        grid-template-columns: 100%;
        gap: 5px;
    }

    .custom{
        background: #EBF4FF;
        padding: 10px;
        color: black;

        border-left: 1px solid #acaaaa;
        border-right: 1px solid #acaaaa;
        border-bottom: 1px solid #acaaaa;
        border-radius: 0px 0px 10px 10px;

        display: grid;
        grid-template-areas: 
            'box1 box1 box1'
            'box2 box2 box2'
            'box3 box3 box3'
            'box4 box4 box4' ;
        text-align: left;
        gap: 5px;
    }



    .customSelector{
        border-radius: 5px;
        background: white;
        outline: none;
        color:#222;
        border: 1px solid #acaaaa !important;
    }



    .customShape{
        background: green;
        padding: 10px;
        color: white;
    }


/*
3d3d3d negro boton build
*/




    .deleteShapeBtn{
        background: #79aff5;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;

    }

    .deleteShapeBtn:focus{
        outline: none;
    }


    .deleteShapeBtn:hover{
        transform: scale(1.1);
    }

    .collapseBtn{
        background: transparent;
        color:#222;
        border-radius: 10px;
        border: none;
        height: 100%;
        font-size: 25px;
    }

    .collapseBtn:focus{
        outline: none;
    }


    *, *::after, *::before {
        -webkit-user-select: none;
        -webkit-user-drag: none;
        -webkit-app-region: no-drag;
        cursor: default;
    }



    .deleteTripleBtn{
        background: #f8a252;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
        padding:2px;
    }

    .deleteTripleBtn:focus{
        outline: none;
    }


    .deleteTripleBtn:hover{
        transform: scale(1.1);
    }


    .buildBtn{
        background: #3d3d3d;
        color:rgb(121, 175, 245);
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 25px;
    }


    .buildBtn:focus{
        outline: none;
    }


    .buildBtn:hover{
        transform: scale(1.1);
    }

    .buildBtn:active {
        transform: translateY(4px);
    }

    .buildTriple{
        background: #3d3d3d !important;
        color:#f8a252 !important;
    }

    .buildConstraint{
        background: #3d3d3d !important;
        color:rgb(177, 224, 134) !important;
    }
   
    .xs-tripleBtns{
        font-size: 18px;
        padding: 2px;
    }

    .roundme{
        border-radius: 10px;
    }
            
    .un-roundme{
        border-radius: 10px 10px 0px 0px !important;
    }


    .lateralNav {
        border: 1px solid #acaaaa;
        border-radius:  20px 0px 0px 20px;
        background-color: white;
    }

    .lateral{
        height: 99%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto;
        background-color: white;
        border-radius: 10px;
        margin:3px;
    }

    .lateralTop{
        display: grid;
        grid-template-columns: 100%;
        gap: 6px;
        background-color: transparent;  
    }

    .lateralBottom{
        display: grid;
        grid-template-rows: 100%;
        align-items: end;
        justify-content: end;
    }

    .danger {
        background-color: #ffdddd;
        border-left: 6px solid #f44336;
        font-size: 15px;
      }

      .valid{
        display: none;
      }
   
       
/*

    @media (max-width: 2040px) {
        .assistantContainer{
            display: grid;
            grid-template-columns: 100%;
            align-content: center;
            gap: 10px;
            padding: 2%;
            background-color: red;
        }
      }

      */
    

     
