


    .containerAssist{
        height: 100% !important;
        width: 100% !important;
        display: grid;
        grid-template-columns: 100%;
        padding: 0px;
        background-color: white;
       
    }
    
    .assistantContainer{
        height: 100% !important;
        width: 100% !important;
        gap: 10px;
    }

    .showAsist{
        padding: 2%;
        height: 100% !important;
        width: 100% !important;
    }

    .hideAsist{
        display: none;
    }


    .hideLoader{
        display: none;
    }

  .showLoader{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db; /* Light Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


    
    .assisTitle{
        display: grid;
        grid-template-columns: 97% 10%;
        padding: 5px;
        border-bottom: 1px solid #bdbcbc;
        font-size: 20px;
        color:#5a5858;
      
    }

    
   
    .closeAsis{
        background-color: transparent;
        border:none;
        grid-column: 2/3;
    }

    .closeAsis:focus{
        outline: none;
    }


    .assistCollapse{
        border-bottom: 1px solid #acaaaa;
        border-top:1px solid #acaaaa;
        max-width: 1200px;
        min-width: 500px;
        margin-left: 0px;
    }


    .resizable{
        height: 100% !important;
        /*border-right:4px double #95b2d6;*/
        max-width: 1100px;
        border-right:4px double #bdbcbc;
        margin-right: 14px;
        margin-left: 0px;
        z-index: 100;
        padding: 0px;
    }


    
    .edit{

        border-top: 1px solid #acaaaa;
        border-bottom: 1px solid #acaaaa;
        border-right: 1px solid #acaaaa;
        border-radius: 0px 10px 10px 0px!important;
        min-width: 300px;
    }


    .react-resizable {
        position: relative;
    }
    .react-resizable-handle {
        position: absolute;
        
        width: 1em;
        height: 100% !important;

        background: #ddeafa;
        background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAIklEQVR4AWMwbb/PdR+JZDD9f1/oPhI5sgVGBSruc9xHIgGdSQqqQJGkRgAAAABJRU5ErkJggg== );
        background-position: center center;
        background-repeat: no-repeat;
        
        

    
    }


    .xs-label{
        margin-left: 0px;
    }


    

    /*
fcffe1  amarillu

fce1ff46
    */

   

   

    .shake{
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }


    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }

    .addCont{
        display: grid;
        margin-left: 14px;
        margin-right: -15px;
    }

    .addShapeButton{
        background: #ddeafa;
        border-radius: 10px;
        margin-top:50px;
        font-weight: bold;
        margin-left:200px;
        margin-right: 200px;
    }

    .addShapeButton:focus{
        outline: none;
    }

    .addTripleButton{
        margin-top: 15px;
        background: #EFDECD;
        border-radius: 10px;
        font-weight: bold;
        padding: 1px;
        margin-bottom: 3px;
    }
    

    .addTripleButton:hover{
        margin-left:0px;
        margin-right: 0px;
    }


    .addTripleButton:focus{
        outline: none;
    }


    .addBtns{
        margin-left:200px;
        margin-right: 200px;
        -webkit-transition: margin 0.5s ease-in-out;
        transition: margin 0.5s ease-in-out;
    }

    .addBtns:hover{
        margin-left:0px;
        margin-right: 0px;
    }

    .xs-addBtns{
        margin-left:100px;
        margin-right: 100px;
        -webkit-transition: margin 0.5s ease-in-out;
        transition: margin 0.5s ease-in-out;
    }

    .xs-addBtns:hover{
        margin-left:0px;
        margin-right: 0px;
    }


    /* e4fadb54  verde mas pocho aun */
   
    
/*
3d3d3d negro boton build
*/




    *, *::after, *::before {
        -webkit-user-select: none;
        -webkit-user-drag: none;
        -webkit-app-region: no-drag;
        cursor: default;
    }



    /*
    .roundme{
        border-radius: 10px;
    }
            
    .un-roundme{
        border-radius: 10px 10px 0px 0px !important;
    }
*/

    

    

    .danger {
        background-color: #ffdddd;
        border-left: 6px solid #f44336;
        font-size: 15px;
      }

      .valid{
        display: none;
      }
   
       
/*

    @media (max-width: 2040px) {
        .assistantContainer{
            display: grid;
            grid-template-columns: 100%;
            align-content: center;
            gap: 10px;
            padding: 2%;
            background-color: red;
        }
      }

      */
    

  
     
