html{
	background-color: #ddeafa;
	overflow-x: hidden;
}

body{
 width: auto;
}

.shexTitle{
	font-size: 40px;
	font-weight: bold !important;
	margin-left:20px !important;
}


.globalContainer{ 
	background-color: #ddeafa;
	padding: 2%;
}


.visualize{
	height: 100% !important; 
	width: 100% !important; 
	min-height: 180px;
	margin-left: 1px;
	float: center;
	border:1px solid #bdbcbc;
	border-radius: 20px;
	background-color: white;

}

.comps{
	background-color: #f8f8ff;
	border-radius: 20px;
}






