
.navbar{
	background-color: #222 !important;
	color: white !important;
	
}

.assisTitle{
	font-weight: bold !important;
}


.CodeMirror{
	height: 100% !important;
	width: 100% !important;
	font-size:1.5em !important;
	min-height:273px;
	border-right: none !important;
	border-bottom: none !important;
	border-top:none !important;
}



.yashe{
	height: 100% !important;
	width: 100% !important;
	margin-left: -15px;
}



label{
	font-weight: bold;
	margin-top: 10px;
	margin-left:10px;
	margin-right:-50px; 
}



body{
 width: auto;
}


.wikibaseRDFtoolTip{
	clear:both !important;
	 overflow:hidden !important; 
	height:1% !important;
	line-height:20px !important;
	font-size: 20px !important;

}

.wikidata_tooltip{
	
}



.yashe_uploadBtn{
	margin-right: 1px !important; 
	margin-bottom: 2px !important;
}

.yashe_deletedBtn{
	margin-top:1px !important; 
}

.yashe_downloadBtn{
	margin-top:2px !important; 
}



svg{
	margin-top:10px;
}


.selector{
	font-size: 20px !important;
	
}



.selector:focus {
	outline:0 !important;
}

.selector:active {
	transform: translateY(4px);
	outline:0 !important;
}

.btns{
	background-color: transparent !important;
	transition: transform 0.2s;
	height: 50px;
	width: 70px !important;
	border:none;
	font-size: 30px;
	z-index: 10;
	padding: 20px;
}

.btns:hover{
	cursor: pointer !important;
	box-shadow: none !important;
	transform: scale(1.5);
	filter: 
			invert(0.4)
			sepia(0.5)
			hue-rotate(195deg)
			saturate(16.2)
			brightness(1.4);
	
}

.btns:active {
	transform: translateY(4px);
	outline:0;
	box-shadow: none !important;
}

.btns:focus {
	outline:0;
	box-shadow: none !important;
}


.svgBtn:hover{
	cursor: pointer !important;
}


.svgBtnCont{
	background-color: transparent !important;
	transition: transform 0.2s;
	border:none;
	z-index: 10;
}


.svgBtnCont:hover{
	cursor: pointer !important;
	box-shadow: none !important;
	transform: scale(1.5);
	filter: 
			invert(0.4)
			sepia(0.5)
			hue-rotate(195deg)
			saturate(16.2)
			brightness(1.4);
	
}

.svgBtnCont:active {
	transform: translateY(4px);
	outline:0;
	box-shadow: none !important;
}

.svgBtnCont:focus {
	outline:0;
	box-shadow: none !important;
}


.shexTitle{
	font-size: 40px;
	font-weight: bold !important;
	margin-left:20px !important;
}


.asis{
	border:none;
	font-size: 30px;
	background-color: transparent !important;
	filter: 
			invert(0.4)
			sepia(0.5)
			hue-rotate(195deg)
			saturate(16.2)
			brightness(1.4);
}

.asis:hover{
	background-color: transparent !important;
	filter: 
			invert(0.4)
			sepia(0.5)
			hue-rotate(195deg)
			saturate(16.2)
			brightness(10);
}

.asis:active {
	transform: translateY(4px);
	outline:0;
}

.asis:focus {
	outline:0;
}


.navItems{
	margin-left: 10px;
	border:none;
	font-size: 20px;
	color: black !important;
	filter: 
			invert(0.4)
			sepia(0.5)
			hue-rotate(195deg)
			saturate(16.2)
			brightness(1.4);
}

.navItems:hover{
	text-decoration: none;
	cursor: pointer;
	background-color: transparent !important;
	filter: 
			invert(0.4)
			sepia(0.5)
			hue-rotate(195deg)
			saturate(16.2)
			brightness(10);
}

.navItems:active {
	transform: translateY(4px);
	outline:0;
}

.navItems:focus {
	outline:0;
}

.navbar{
	margin-top: -10px;
	height: 70px !important;
}

input[type=text] {
	background-color: white;
	border: 1px solid #222;
  }

  .customSelector{
	background-color: white;
	border: 1px solid #222;
  }





.globalContainer{ 
	background-color: #ddeafa;
	padding: 2%;
}

html{
	background-color: #ddeafa;
	overflow-x: hidden;
}



.shapeBtns{
	margin-left: 4px;
}

.visualize{
	height: 100% !important; 
	width: 100% !important; 
	min-height: 170px;
	margin-left: 1px;
	float: center;
	border:1px solid #bdbcbc;
	border-radius: 20px;
	background-color: white;
	
}



.dropdown{
width: 100%;
z-index: 1000;
box-shadow: none !important;
}

.dropdown:hover{
	cursor: pointer !important;
	box-shadow: none !important;
}


.dropdown:focus{
	box-shadow: none !important;
}


.inputfileBtn{
	display: none;
}



.light{
	fill: white;
}




.shapeNameLabel{
	margin-left: 24px;
}


.comps{
	background-color: #f8f8ff;
	border-radius: 20px;
}




