.header{
    background: #C6E2FF ;
    padding: 10px;
    color: black;
    text-align: left;
    border: 1px solid #acaaaa;
    display: grid;
    grid-template-columns: 11% 64% 6% 6% 9%;
    gap: 10px;

}

.xs-header{
    padding: 8px;
    grid-template-columns: 10% 56% 8% 8% 9%;
    gap: 10px;

}

.name{
    border-radius: 4px;
    color:#222;
    padding-left: 5px;
    border: 1px solid #acaaaa !important;
}

.shapeNameLabel{
	margin-left: 24px;
}

.buildBtn{
    background: #3d3d3d;
    color:rgb(121, 175, 245);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 25px;
}


.buildBtn:focus{
    outline: none;
}


.buildBtn:hover{
    transform: scale(1.1);
}

.buildBtn:active {
    transform: translateY(4px);
}

.deleteShapeBtn{
    background: #79aff5;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;

}

.deleteShapeBtn:focus{
    outline: none;
}


.deleteShapeBtn:hover{
    transform: scale(1.1);
}



.collapseBtn{
    background: transparent;
    color:#222;
    border-radius: 10px;
    border: none;
    height: 100%;
    font-size: 25px;
}

.collapseBtn:focus{
    outline: none;
}