.xs-tripleHeader{
    padding:5px;
    padding-right: 10px;
    color: black;
    border-top: 1px solid #acaaaa;
    text-align: left;
    display: grid;
    grid-template-columns: 80% 9% 9% ;
    gap: 8px;
}

.tripleHeader{
    display: grid;
    grid-template-columns:  48% 6% 6% 6% 6% 6% 6% 7%;
    gap: 10px;
}

.deleteTripleBtn{
    border-radius: 10px;
    outline: none;
    border: none;
    padding:2px;
}

.deleteTripleBtn:focus{
    outline: none;
}


.deleteTripleBtn:hover{
    transform: scale(1.1);
}

.deleteTripleBtn:active {
    transform: translateY(4px);
}

.zone{
    display: grid;
    padding: 5px;
}

.btnZone{
    border: none;
}
.btnZone:focus{
   outline: none;
}

.type-zone{
    background-color: #EFE8E1;
}

.constraint-zone{
    background-color: #E8FAE4;
}

.facet-zone{
    background-color: #f5d6d6;
}

.ref-zone{
    background-color: #f5fac8;
}

.cardinality-zone{
    background-color: #fae2f8;
}

