.tripleHeader{
    padding:5px;
    padding-right: 10px;
    color: black;
    text-align: left;
    border-top: 1px solid #acaaaa;
    display: grid;
    grid-template-columns:  48% 6% 6% 6% 6% 6% 6% 7%;
    gap: 10px;

}

.xs-tripleHeader{
    gap: 8px;
    grid-template-columns: 33% 8% 8% 8% 8% 8% 8% 4%;
}

.deleteTripleBtn{
    border-radius: 10px;
    outline: none;
    border: none;
    padding:2px;
}

.deleteTripleBtn:focus{
    outline: none;
}


.deleteTripleBtn:hover{
    transform: scale(1.1);
}

.deleteTripleBtn:active {
    transform: translateY(4px);
}