.tripleHeader{
    background: #EFDECD ;
    padding:5px;
    padding-right: 10px;
    color: black;
    text-align: left;
    border-top: 1px solid #acaaaa;
    display: grid;
    grid-template-columns:  56% 6% 6% 6% 6% 6% 6%;
    gap: 10px;

}


.xs-tripleHeader{
    justify-content: center;
    gap: 8px;
    grid-template-columns: 54% 6% 6% 6% 6% 6% 6%;
}


.xs-tripleBtns{
    font-size: 18px;
    padding: 2px;
}


.buildTriple{
    background: #3d3d3d !important;
    color:#f8a252 !important;
}

.buildConstraint{
    background: #3d3d3d !important;
    color:#b1e086 !important;
}

.buildCardinality{
    background: #3d3d3d !important;
    color:rgb(247, 173, 234) !important;
}

.buildInlineRef{
    background: #3d3d3d !important;
    color:rgb(248, 250, 149) !important;
}


.deleteTripleBtn{
    background: #f8a252;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    padding:2px;
}

.deleteTripleBtn:focus{
    outline: none;
}


.deleteTripleBtn:hover{
    transform: scale(1.1);
}

.deleteTripleBtn:active {
    transform: translateY(4px);
}